// variables
// colours
$mainColor: #FEDD15;
$mainColorPressed: #F2CB00;
$mainColorHover: #FFE963;
$textGrey: #515257;
$inputColor:  #E0E3E6;
$inputTextColor: #ADB1B2;
$textColor: #515257;
$blackColor: #000000;
$darkBgColor: #162038;
$lightBgColor: #F8F8F8;
$errorColor: #EA3434;
$successColor: #3FB17A;
$whiteColor: #FFFFFF;
$cardHoverColor: #FFFDF3;
$pointsColor: #D6D8D9;
$darkBlueColor: #131B2F;
$darkTextColor: #787D88;

$cardShadow: 0px 10px 41px rgba(25, 30, 74, 0.08);
$cardShadowHover: 0px 10px 41px rgba(25, 30, 74, 0.08);

$baseFont: "Open Sans",  Helvetica, Arial, sans-serif;
$baseFontBold: "Open Sans Semi Bold",  Helvetica, Arial, sans-serif;

// reset normalize variables
$normalized_font_family: $baseFont;

// font sizes
$h1_font_size: 54px;
$h1_line_height: 1.18;

$h2_font_size: 42px;
$h2_line_height: 1.33;

$h2_font_size: 42px;
$h2_line_height: 1.33;

$h3_font_size: 30px;
$h3_line_height: 1.5;

$h5_font_size: 26px;
$h5_line_height: 1.73;
