.graphic {
    position: relative;
    padding: 40px;
    // padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    // background: url('../img/contact-center/graphic.png') no-repeat;
    background-clip: content-box;
    background-size: cover;
    border-radius: 20px;
    box-shadow: $cardShadow;
    &__logo {
        display: inline-block;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color: #515257;
    }
    &__img {
        position: absolute;
        z-index: -1;
        left: 40px;
        right: 40px;
        bottom: 40px;
        width: -webkit-fill-available;
    }
}
.dotted-block__content--small {
    align-items: center;
    @media screen and (max-width: 768px) {
        
    }
}
.dotted-block__img {
    margin-right: 15px;
}
.dotted-block .dotted-block__text {
    font-size: 14px;
    line-height: 1.5;
}
.dotted-block .dotted-block__text--right {
    min-width: calc(100% - 45px);
    margin-left: auto;
    word-break: break-all;
}
.b-tile.graphic__b-tile {
    margin: 10% 10px;
    display: inline-flex;
    align-self: flex-end;
    flex-direction: row;
    padding: 0;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: $cardShadow;
    .b-tile__body {
        padding: 8px;
        display: flex;
        align-items: center;
    }
    .b-call-center__left {
        width: 84px;
        height: 38px;
    }
}
.b-comment__text {
    line-height: 1.5;
}

.common-accordion.collapsed.collapsed .common-accordion__body {
    overflow: initial;
}

.formula__inner .formula__item {
    min-width: 240px;
}
.informative .informative__bottom-text {
    padding-top: 20px;
}
.form__field.form__checkbox:checked+.form__field.form__checkbox-label {
    background-color: $mainColor;
    border-color: $mainColor;

    &::after {
        content: url('../img/support/135-Stroke.svg');
    }
}

@media screen and (max-width: 992px) {
    .contacts-top .contacts-top__left {
        max-width: 280px;
    }
    .main-banner .main-banner__left {
        flex-shrink: 0;
        max-width: 40%;
    }
    .b-comment__text {
        font-size: 14px;
    }

    .service__control .service__control-item:hover .service__control-text {
        text-decoration: none;
    }
}

@media screen and (max-width: 768px) {
    .b-comment__text {
        line-height: 24px;
    }
    .dotted-block .dotted-block__text--right {
        min-width: 0;
        margin-left: 10px;
    }
    .dotted-block .dotted-block__text {
        max-width: 127px;
    }
    .dotted-block__content.dotted-block__content--small {
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service .service__content-body .service__tab {
        padding: 25px 44px 23px 16px;
        border-bottom: 1px solid #E0E3E6;

        &:first-of-type {
            border-top: 1px solid #E0E3E6;

        }
    }

    .service .service__tabs-nav {
        border: none;
    }

    .service .service__content-body .service__control-item {
        padding: 15px;
        margin-left: 34px;
    }

    .service .service__title {
        padding-left: 16px;
    }
}

@media screen and (max-width: 575px) {
    .contact-center .contact-center__text-bottom {
        left: 10%;
    }
}

@media screen and (max-width: 375px) {
    .contact-center .contact-center__text-bottom {
        left: 0;
    }
}