.graphic {
    position: relative;
    // padding: 12%;
    display: flex;
    flex-direction: column;

    &__logo {
        position: absolute;
        top: 16%;
        left: 12%;
        display: inline-block;
        margin-bottom: 15px;
    }

    &__text {
        position: absolute;
        top: 27%;
        left: 12%;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color: #515257;
    }

    &__img {
        // display: none;
        // position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: auto;
    }

    .b-call-center__heading {
        font-size: 10px;
        line-height: 21px;
    }
}

.b-call-center--semi {
    .b-call-center__right--positioned-top {
        left: -40%;
    }
}

.b-tile--outer {
    min-height: 324px;
}

.excellence__item.dn-mup.b-tile.b-tile--accent.b-tile--full {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .excellence__item.dn-mup.b-tile.b-tile--accent.b-tile--full {
        display: flex;

        .b-call-center__left--positioned {
            width: auto;
            height: auto;
            border-radius: 0%;
            overflow: visible;
            width: 65%;
            bottom: 35px;
            position: relative;
            margin-right: 0
        }

        .b-call-center__right--positioned {
            left: -20%;
            max-width: 180px;
        }
    }

    .excellence__item.dn-sm-lg.b-tile.b-tile--accent.b-tile--full {
        display: none;
    }

    .b-call-center--semi .b-call-center__right.b-call-center__right--positioned-top {
        display: block;
    }

    .b-call-center--semi .b-call-center__img.b-call-center__img--mobile {
        display: none;
    }

    .graphic .graphic__b-tile.b-tile {
        display: none;
    }
}

.tags .tags__text {
    font-family: inherit;
}

.map__buttons {
    -webkit-overflow-scrolling: touch;
}

.dotted-block__content--small {
    align-items: center;

    @media screen and (max-width: 768px) {}
}

.dotted-block__img {
    margin-right: 15px;
}

.dotted-block .dotted-block__text {
    font-size: 14px;
    line-height: 1.5;
}

.dotted-block .dotted-block__text--right {
    min-width: calc(100% - 45px);
    margin-left: auto;
    word-break: break-all;
}

.b-tile.graphic__b-tile {
    position: absolute;
    display: inline-flex;
    align-self: flex-end;
    flex-direction: row;
    padding: 0;
    bottom: 27%;
    right: 15%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: $cardShadow;

    .b-tile__body {
        padding: 5px;
        display: flex;
        align-items: center;
    }

    .b-call-center__left {
        margin-right: 5px;
        width: 84px;
        height: 38px;
    }
}

.b-comment__text {
    line-height: 1.5;
}

.common-accordion.collapsed.collapsed .common-accordion__body {
    overflow: initial;
}

.formula__inner .formula__item {
    min-width: 240px;
}

.informative .informative__bottom-text {
    padding-top: 20px;
}

.form__field.form__checkbox:checked+.form__field.form__checkbox-label {
    background-color: $mainColor;
    border-color: $mainColor;

    &::after {
        content: url('../img/support/135-Stroke.svg');
    }
}

@media screen and (max-width: 1040px) {
    .header.header {
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 999;
        background-color: #fff;

        // box-shadow: 0px 10px 41px rgb(25 30 74 / 8%);
        .header__logo {
            align-self: flex-start;
        }

        .header__nav.nav__mobile.active {
            margin-top: 120px;
        }

        .nav__list {
            flex-direction: column;
        }

        .header__lang {
            margin-left: 0;
            border: none;
        }

        .lang {
            display: none;
            width: 100%;
            padding: 18px 0;
            background-color: #F8F8F8;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  
    .dispay-none-sm.dn-md-d {
        display: none;
    }
    
}
@media screen and (min-width: 992px) {
    .excellence__item.dn-lg  {
        display: none;
    }
}

@media screen and (max-width: 992px) {
  
    .b-tile--outer.b-tile--accent {
        grid-area: 1 / 1 / 3 / 1;
    }

    .b-call-center--semi .b-call-center__right.b-call-center__right--positioned-top {
        top: -60px;
        left: -35%;
    }

    .b-call-center--semi .b-call-center__img.b-call-center__img--desktop {
        display: block;
    }

    .graphic__logo {
        margin-bottom: 5px;
    }

    .contacts-top .contacts-top__left {
        max-width: 280px;
    }

    .main-banner .main-banner__left {
        flex-shrink: 0;
        max-width: 40%;
    }

    .b-comment__text {
        font-size: 14px;
    }

    .service__control .service__control-item:hover .service__control-text {
        text-decoration: none;
    }
}

.b-call-center.b-call-center--sm {
    display: none;
}

.excellence--pt-0 {
    padding-top: 0;
}

@media screen and (max-width: 768px) {
    .b-tile--outer {
        min-height: 0;
    }

    .b-call-center--semi .b-call-center__img.b-call-center__img--desktop {
        display: none;
    }

    .b-call-center--md {
        display: none;
    }

    .b-call-center.b-call-center--sm {
        display: flex;
    }

    .b-call-center--semi .b-tile.graphic__b-tile .b-call-center__left {
        width: auto;
        height: auto;
    }

    .b-call-center--semi .b-tile__img--dn-mobile {
        display: none;
    }

    .b-comment__text {
        line-height: 24px;
    }

    .dotted-block .dotted-block__text--right {
        min-width: 0;
        margin-left: 10px;
    }

    .dotted-block .dotted-block__text {
        max-width: 127px;
    }

    .dotted-block__content.dotted-block__content--small {
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service .service__content-body .service__tab {
        padding: 25px 44px 23px 16px;
        border-bottom: 1px solid #E0E3E6;

        &:first-of-type {
            border-top: 1px solid #E0E3E6;

        }
    }

    .graphic {
        &__img {
            width: 100%;
        }
    }

    .service .service__tabs-nav {
        border: none;
    }

    .service .service__content-body .service__control-item {
        padding: 15px;
        margin-left: 34px;
    }

    .service .service__title {
        padding-left: 16px;
    }
}

@media screen and (max-width: 575px) {
    .contact-center .contact-center__text-bottom {
        left: 10%;
    }
}

@media screen and (max-width: 375px) {
    .contact-center .contact-center__text-bottom {
        left: 0;
    }
}